.complete-button {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  canvas, svg {
    position: absolute;
  }
  svg {
    z-index: 2;
    left: 10px;
    top: 10px;
    opacity: 0;
    transition-duration: .24s;
    will-change: opacity;
  }
  &:hover svg, &.is-completed svg {
    opacity: 1;
  }
}
